
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    :root{
        /* &, */
        &.light-mode{
            --background-app: #fbfbfb;
            --color-primary: #ff5976;
            --color-secondary: #d6acac;
            --color-textColor: #040105;
            --color-secondaryBg: #c5c5c5de;
            --color-success: #36bc4c;
            --color-warning: #ec5454;
            --color-error: #f92c2c;
            
        }
        &,
        &.dark-mode{
            --background-app: #17091b;
            --color-textColor: #f1e8f4;
            --color-secondaryBg: #503657;
            --color-secondary: #b67171;
        }
    }
}



body {
    font-family: "Dosis", sans-serif;
    background-color: var(--background-app);
}