@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-font {
    @apply text-[22px] font-medium text-secondary-100;
  }
  .btn {
    @apply flex justify-center items-center w-[134px] h-[62px] bg-secondary-100 rounded-[7px];
  }
  .btn-primary {
    @apply flex justify-center items-center w-[80px] h-[40px] bg-secondary-100;
  }
  .banner-base {
    @apply w-[87%] min-w-[1024px] h-[852px]   px-16 mx-auto    rounded-[59px] lg:flex hidden  justify-between transition-all duration-300;
  }
}
@layer base {
  :root {
    &,
    &.light-mode {
      --color-primary: #c2c8da;
      --color-primary-100: #e6c744;
      --color-secondary: #ffffff;
      --color-secondary-100: #000000;
      --color-secondary-200: #f4f6f5;

      --color-success: #36bc4c;
      --color-warning: #ec5454;
      --color-error: #f92c2c;
      --color-bgMenu: #fbfafe;
    }
    /* &, */
    &.dark-mode {
      --color-secondary: rgb(45, 52, 54);
      --color-secondary-100: #ffffff;
      --color-secondary-200:rgb(178, 190, 195)
      /* --background-app: #1c1a27;
      --color-textColor: #edebed;
      --color-secondaryBg: #716781;
      --color-secondary: #d0bcff;
      --color-bgMenu: #1c1a27; */
    }
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-secondary);
}

/* .userContainer:hover .dropDown {
  display: flex;
  transition: all 0.5s;
} */

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  background-color: var(--color-secondary-100);
}
